body {
    margin: 0px;
}

.left-cotainer {
    background-color: #f1f1f1;
    border-right: 2px solid #929eab33 ;
}

.right-container {
    background-color: #f7f7f7
}
.button-primary {
    margin:1rem 0rem;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-primary:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-primary:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-primary:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
  .button-container{
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
  
  }
  .font-Primary{
    font-weight: 600;
    line-height: 1.57143;
    font-size: 0.875rem;
    padding: 0.5rem;
    margin: 1rem 0rem;
    color: #2065d1;

  }
  .font-secondary{
    font-weight: 600;
    line-height: 1.57143;
    font-size: 0.875rem;
    padding: 0.5rem;
    margin: 1rem 0rem;
    color: #3c3c3c;

  }
  .header{
    font-size: 1.8rem;
    font-weight: 600;
    margin: 2rem 0rem;
  }